{% extends "landing/base.html" %}

{% block title %}: View Doctors{% endblock %}

{% block header %}
<h1>View Doctors</h1>
{% endblock %}

{% block content %}
<form action="/view/doctors/" method="post">
    {% csrf_token %}
	<label>Preferred Gender: </label> <br>
	<input id="male" name="male" type = "checkbox">Male
	<input id="female" name="female" type = "checkbox">Female
	<input id="other" name="other" type = "checkbox">Other
	<br><br>
	<label for="min_year">Minimum Years of Experience: </label> <br>
	<input type="number" id="min_year" name="min_year" placeholder="0">
	<br><br>
	<input type="submit" name="Look" value="Look for doctors">
	<input type="reset" name="clear" value="Clear Filters">
</form>
{% endblock %}