{% extends "landing/base.html" %}

{% block title %}: View Doctors{% endblock %}

{% block header %}
<h1>View Doctors</h1>
{% endblock %}

{% block content %}
    {% if not queries %}
    No doctor with selected queries found
    {% endif %}
    <ul>
        {% for query in queries %}
            {% for doctor in query %}
            <li>
                Name: {{ doctor }} <br>
                Qualification: {{ doctor.qualification }} <br>
                Specialization: {{ doctor.specialization }} <br>
                <a href="/doctor/{{ doctor.uid }}"><button>View Doctor Profile</button></a>
            </li><br>
            {% endfor %}
        {% endfor %}
    </ul>

<a href="/home/"><button>Home</button></a> <br>
<button onclick="history.back()">Back</button>
{% endblock %}