{% extends "landing/base.html" %}

{% block title %}: Doctor Profile{% endblock %}

{% block header %}
<h1>Doctor Profile</h1>

<h2>{{ name }}</h2>
{% endblock %}

{% block content %}
<main>
    Qualification: {{ qualification }} <br>
    Specialization: {{ specialization }} <br>
    Years of Experience: {{ years_of_experience }} <br>
    
    Email Address: {{ email }} <br>
    Gender: {{ gender }} <br>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Request</button>
    </form> <br>
    
    <a href="/home/"><button>Home</button></a>
    <button onclick="history.back()">Back</button>
</main>
{% endblock %}