<html>
<head><title>Looking for doctors</title></head>
<body>
<h3><center>Viewing doctos</center></h3>
<form action="#" method="post">
<!-- {% csrf_token %} -->
	<p>Preferred Gender: </p>
	<input type = "checkbox">Male
	<input type = "checkbox">Female
	<input type = "checkbox">Any
	<br><br>
	<p>Years of Experience: </p>
	<input type="number" id="years_of_experience" name="years_of_experience" placeholder="0">
	<br><br>
	<input type="submit" name="Look" value="Look for doctors">
	<input type="reset" name="clear" value="Clear Filters">
</form>
</body>
</html>
