{% extends "landing/base.html" %}

{% block title %}: Home{% endblock %}

{% block header %}
<h1>
    Welcome:{% if is_doctor %} Doctor{% endif %} {{ user.name }}
</h1>

<a href="/accounts/logout"><button>Logout</button></a>
{% endblock %}

{% block content %}
    <h3>Upcoming Reservations</h3> <br>
    {% if not accepted_reservations %}
        No Reservations <br>
    {% endif %}
    {% for reservation in accepted_reservations %}
    <li>
        {% if is_doctor %}
            Patient: {{ reservation.guser.name }} <br> 
        {% else %}
            Doctor: {{ reservation.doctor.name }} <br> 
        {% endif %}

        Date: {{ reservation.date }} <br>
        Time: {{ reservation.time }} <br>
    </li> <br>
    {% endfor %}
    <br>

    <h3>Pending Reservations</h3> <br>
    {% if not pending_reservations %}
        No Reservations <br>
    {% endif %}
    {% for reservation in pending_reservations %}
    <li>
        {% if is_doctor %}
            <button>Accept</button> <button>Decline</button>
            Patient: {{ reservation.guser.name }} <br> 
        {% else %}
            Doctor: {{ reservation.doctor.name }} <br> 
        {% endif %}

        Date: {{ reservation.date }} <br>
        Time: {{ reservation.time }} <br>
    </li> <br>
    {% endfor %}
    <br>

    {% if not is_doctor %}
        <a href="/view/doctors/"><button>
            View Doctors
        </button></a>

        <a href="/accounts/profile/"><button>Profile</button></a>
    {% endif %}
{% endblock %}